@model VenueEnrollment

<form method ="post" asp-action= "DeletePost">
        <input asp-for= "Id" hidden />

   <h2>
        Delete Activity Venue
   </h2><br />
  
    <select asp-for ="EmployeeActivityId" asp-items ="@ViewBag.TypeDropDown">
           <option selected>--Select Employee Activity--</option>
       </select><br /><br />

        <select asp-for ="VenueId" asp-items ="@ViewBag.TypeDropDown2">
           <option selected>--Select Activity Venue--</option>
       </select><br /><br />
       <label asp-for ="GameDate1"></label>
   <input asp-for ="GameDate1" class ="form-control" />
   <span asp-validation-for="GameDate1" class ="text-danger"></span><br />
       <br /><br />

   <button type ="submit" class= "btn btn-danger"
   onclick="return confirm('Are you sure you want to delete')">
       Delete
   </button>
   <a asp-controller="VenueEnrollment" asp-action="Index" class = "btn btn-secondary">
       Back
   </a>
</form>
